<div class="main-view">
    <div class="top-area">
        <div class="row g-0">
            <h2 class="col p-3 m-0">Rules<span *ngIf="assertions" class="px-3 count">{{(assertions | exceptions:exceptions:!!activeCodesystem | textFilter:textFilter | groupFilter:group:additive | severityFilter:severity | typeFilter:type).length}} assertions {{activeCodesystem ? ' (with exceptions)' : ''}}</span></h2>
            <div class="col-1 p-3">
                <button class="btn bg-wisteria bg-wisteria-hover float-end" (click)="downloadTSV()">DOWNLOAD</button>
            </div>
        </div>
        <div class="row g-0 px-3">
            <input type="search" class="searchbar rounded-3 py-2 px-3" [(ngModel)]="textFilter" placeholder="Search...">
        </div>
        <div class="row g-0 p-2">
            <div class="col m-2">
                <button class="btn w-100" (click)="setType('DROOL_RULES')"
                        [class.spring-rain]="type === 'DROOL_RULES' || type === undefined"
                        [class.ghost-grey]="type !== 'DROOL_RULES' && type !== undefined">DROOLS</button>
            </div>
            <div class="col m-2">
                <button class="btn w-100" (click)="setType('SQL')"
                        [class.london-hue]="type === 'SQL' || type === undefined"
                        [class.ghost-grey]="type !== 'SQL' && type !== undefined">SQL</button>
            </div>
<!--            <div class="col m-2">-->
<!--                <button class="btn w-100" (click)="setType('MRCM')"-->
<!--                        [class.vanilla]="type === 'MRCM' || type === undefined"-->
<!--                        [class.ghost-grey]="type !== 'MRCM' && type !== undefined">MRCM</button>-->
<!--            </div>-->
            <div class="col m-2">
                <button class="btn w-100" (click)="setType('TRACEABILITY')"
                        [class.dull-lavender]="type === 'TRACEABILITY' || type === undefined"
                        [class.ghost-grey]="type !== 'TRACEABILITY' && type !== undefined">TRACEABILITY</button>
            </div>
        </div>
    </div>
<!--    <ng-container *ngIf="activeCodesystem">-->
<!--        <div class="loading p-3 text-center">-->
<!--            <i class="fa-solid fa-spin fa-circle-notch"></i>-->
<!--        </div>-->
<!--    </ng-container>-->
    <ng-container *ngIf="codesystems">
        <div class="p-3">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th (click)="sortOn('uuid')">ID
                        <span *ngIf="sortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="sortKey === 'uuid' && sortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="sortKey === 'uuid' && sortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                    <th (click)="sortOn('assertionText')">Description
                        <span *ngIf="sortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="sortKey === 'assertionText' && sortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="sortKey === 'assertionText' && sortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let assertion of localAssertions | exceptions:exceptions:!!activeCodesystem | sort:sortKey:sortType | textFilter:textFilter | groupFilter:group:additive | severityFilter:severity | typeFilter:type">
                    <td [class.spring-rain-border]="assertion.type === 'DROOL_RULES'"
                        [class.london-hue-border]="assertion.type === 'SQL'"
                        [class.vanilla-border]="assertion.type === 'MRCM'"
                        [class.dull-lavender-border]="assertion.type === 'TRACEABILITY'">
                        {{assertion.uuid}}
                    </td>
                    <td [class.spring-rain-border]="assertion.type === 'DROOL_RULES'"
                        [class.london-hue-border]="assertion.type === 'SQL'"
                        [class.vanilla-border]="assertion.type === 'MRCM'"
                        [class.dull-lavender-border]="assertion.type === 'TRACEABILITY'">
                        <span class="assertion-text" (click)="openModal('assertion-modal'); activeAssertion = assertion; findAssertionExceptions(assertion.uuid)">{{assertion.assertionText}}</span>
                        <span *ngIf="assertion.severity && assertion.severity.includes('WARNING')" class="marker orange d-inline-block px-2 m-1">WARNING</span>
                        <span *ngIf="assertion.severity && assertion.severity.includes('ERROR')" class="marker red d-inline-block px-2 m-1">ERROR</span>

                        <ng-container *ngFor="let authoring of releases | authoring">
                            <span *ngIf="assertion.groups && assertion.groups.includes(authoring.name)" class="marker blue d-inline-block px-2 m-1">{{authoring.name.substr(0, authoring.name.indexOf('-')) | uppercase}}</span>
                        </ng-container>

                        <span *ngIf="assertion.groups && (assertion.groups | edition).length > 2" class="marker green d-inline-block pe-2 m-1" [ngbPopover]="editionPop" triggers="mouseenter:mouseleave"><span class="prefix green px-2">{{(assertion.groups | edition).length}}</span> EDITIONS...</span>
                        <ng-template #editionPop>
                            <ng-container *ngFor="let edition of releases | edition">
                                <span *ngIf="assertion.groups && assertion.groups.includes(edition.name)" class="marker green d-inline-block px-2 m-1">{{edition.name.substr(0, edition.name.indexOf('Edition')) | uppercase}}</span>
                            </ng-container>
                        </ng-template>

                        <ng-container *ngFor="let edition of releases | edition">
                            <span *ngIf="assertion.groups && assertion.groups.length <= 2 && assertion.groups.includes(edition.name)" class="marker green d-inline-block px-2 m-1">{{edition.name.substr(0, edition.name.indexOf('Edition')) | uppercase}}</span>
                        </ng-container>
                    </td>
                    <td><i *ngIf="assertion.url" class="fas fa-external-link-alt" (click)="goToUrl(assertion)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>

<app-modal id="assertion-modal" class="modal" [size]="'xxl'">
    <div header><h3 class="mb-0">Assertion<span *ngIf="exceptions && assertionsExceptionsList?.length" class="px-2">(with {{assertionsExceptionsList?.length}} exceptions)</span></h3></div>
    <div body>
        <p><b class="pe-2">ID:</b>{{activeAssertion?.uuid}}</p>
        <p><b class="pe-2">TEXT:</b>{{activeAssertion?.assertionText}}</p>
        <p *ngIf="activeAssertion?.url"><b class="pe-2">CODE:</b><a [href]="activeAssertion.url" target="_blank">{{activeAssertion.url}}</a></p>
<!--        <ng-container *ngIf="exceptions && !assertionsExceptionsList?.length">-->
<!--            <div class="loading p-3 text-center">-->
<!--                <i class="fa-solid fa-spin fa-circle-notch"></i>-->
<!--            </div>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="exceptions && assertionsExceptionsList?.length">-->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th (click)="tableSortOn('conceptId')">ID
                        <span *ngIf="tableSortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="tableSortKey === 'conceptId' && tableSortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="tableSortKey === 'conceptId' && tableSortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                    <th>FSN
<!--                    <th (click)="tableSortOn('fsn')">FSN-->
<!--                        <span *ngIf="tableSortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>-->
<!--                        <span *ngIf="tableSortKey === 'fsn' && tableSortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>-->
<!--                        <span *ngIf="tableSortKey === 'fsn' && tableSortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>-->
                    </th>
                    <th (click)="tableSortOn('componentId')">Component ID
                        <span *ngIf="tableSortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="tableSortKey === 'componentId' && tableSortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="tableSortKey === 'componentId' && tableSortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                    <th (click)="tableSortOn('assertionFailureText')">Error
                        <span *ngIf="tableSortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="tableSortKey === 'assertionFailureText' && tableSortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="tableSortKey === 'assertionFailureText' && tableSortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                    <th (click)="tableSortOn('reason')">Reason
                        <span *ngIf="tableSortType === 'default'" class="ps-2 default"><i class="fas fa-arrows-up-down"></i></span>
                        <span *ngIf="tableSortKey === 'reason' && tableSortType === 'desc'" class="ps-2"><i class="fas fa-arrow-down-long"></i></span>
                        <span *ngIf="tableSortKey === 'reason' && tableSortType === 'asc'" class="ps-2"><i class="fas fa-arrow-up-long"></i></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let exception of exceptions | exceptionsTable:activeAssertion?.uuid | sort:tableSortKey:tableSortType">
                    <tr>
                        <td>{{exception?.conceptId}}</td>
                        <td>
                            <ng-container *ngIf="assertionsExceptionsList.length > 0">
                                {{findExceptionConceptFSN(exception.conceptId)}}
                            </ng-container>
                        </td>
                        <td>{{exception?.componentId}}</td>
                        <td>{{exception?.assertionFailureText}}</td>
                        <td>{{exception?.reason}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
<!--        </ng-container>-->
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('assertion-modal')">CLOSE</button>
    </div>
</app-modal>

