@use 'src/variables' as *;
@use "sass:color";

div.main-view {
    position: absolute;
    top: 5rem;
    left: 40rem;
    right: 0;
    bottom: 4rem;
    overflow: scroll;

    div.top-area {
        background-color: color.adjust($gallery-white, $lightness: -5%);
        border-bottom: 1px solid $alto-white;

        input {
            border: 1px solid $ghost-grey;
        }

        span.count {
            font-size: 1.4rem;
            color: $blumine;
        }
    }

    div.loading {
        font-weight: 300;
        font-size: 2rem;
        color: $river-bed;
    }

    table {
        thead {
            tr {
                th {
                    cursor: pointer;
                    font-weight: 400;

                    span {
                        color: $bootstrap-dark;

                        &.default {
                            color: $ghost-grey;
                        }
                    }
                }
            }
        }
        tbody {
            border-top: 1px;

            tr {
                td {
                    &:first-child {
                        width: 32rem;
                    }

                    span.assertion-text {
                        cursor: pointer;

                        &:hover {
                            color: color.adjust($cerulean, $lightness: -20%);
                        }
                    }

                    span.marker {
                        font-size: 1rem;
                        border-radius: 1rem;
                        position: relative;
                        cursor: default;

                        &.blue {
                            background-color: color.adjust($cerulean, $lightness: 30%);
                        }

                        &.green {
                            background-color: color.adjust($fruit-salad, $lightness: 40%);
                        }

                        &.red {
                            background-color: color.adjust($mandy, $lightness: 30%);
                        }

                        &.orange {
                            background-color: color.adjust($sea-buckthorn, $lightness: 30%);
                        }

                        &.grey {
                            background-color: color.adjust($slate-grey, $lightness: 30%);
                        }

                        &.mandy {
                            background-color: color.adjust($mandy, $lightness: 30%);
                        }

                        span.prefix {
                            border-radius: 1rem;

                            &.blue {
                                background-color: color.adjust($cerulean, $lightness: 20%);
                            }

                            &.green {
                                background-color: color.adjust($fruit-salad, $lightness: 30%);
                            }

                            &.red {
                                background-color: color.adjust($mandy, $lightness: 20%);
                            }

                            &.orange {
                                background-color: color.adjust($sea-buckthorn, $lightness: 20%);
                            }
                        }
                    }

                    i {
                        cursor: pointer;
                        color: $bootstrap-dark;

                        &:hover {
                            color: $cerulean;
                        }
                    }
                }
            }
        }
    }
}

app-modal#assertion-modal {
    div.loading {
        font-weight: 300;
        font-size: 2rem;
        color: $river-bed;
    }

    table {
        thead {
            tr {
                th {
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 1.2rem;

                    span {
                        color: $bootstrap-dark;

                        &.default {
                            color: $ghost-grey;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

div#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 18.8rem);

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 4px solid $river-bed;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $river-bed transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


$spring-rain: #95BB95;
$london-hue: #B695BB;
$vanilla: #BBAE95;
$dull-lavender: #A0A5E3;

.spring-rain {
    background-color: $spring-rain;

    &:hover {
        background-color: color.adjust($spring-rain, $lightness: -10%);
    }
}

.london-hue {
    background-color: $london-hue;

    &:hover {
        background-color: color.adjust($london-hue, $lightness: -10%);
    }
}

.vanilla {
    background-color: $vanilla;

    &:hover {
        background-color: color.adjust($vanilla, $lightness: -10%);
    }
}

.dull-lavender {
    background-color: $dull-lavender;

    &:hover {
        background-color: color.adjust($dull-lavender, $lightness: -10%);
    }
}

.ghost-grey {
    background-color: $ghost-grey;

    &:hover {
        background-color: color.adjust($ghost-grey, $lightness: -10%);
    }
}

.spring-rain-border {
    border-left: solid 5px $spring-rain;
}

.london-hue-border {
    border-left: solid 5px $london-hue;
}

.vanilla-border {
    border-left: solid 5px $vanilla;
}

.dull-lavender-border {
    border-left: solid 5px $dull-lavender;
}
