@use 'src/variables' as *;
@use "sass:color";

nav#sidebar {
    position: fixed;
    width: 40rem;
    height: calc(100vh - 90px);
    background: $alto-white;
    overflow: auto;

    div.header {
        position: relative;

        h3, h4 {
            border-bottom: 1px $ghost-grey solid;
            height: 4rem;

            span {
                font-size: 1.2rem;
                color: $river-bed;
            }
        }

        input.searchbar {
            border: none;
            font-size: 1.2rem;
            background-color: color.adjust($alto-white, $lightness: 10%);
            width: 100%;
            border-bottom: 1px $ghost-grey solid;
            color: $bootstrap-black;
            cursor: text;
        }

        span.clear-span {
            button {
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
            }

            div.form-switch {
                position: absolute;
                right: 3rem;
                top: 0.5rem;

                label {
                    font-size: 1.4rem;
                    color: $blumine;
                    margin-top: 2px;
                }

                input {
                    font-size: 2rem;

                    &.form-check-input:checked {
                        background-color: $cerulean;
                        border-color: $cerulean;
                    }
                }
            }
        }
    }

    a.filter-title {
        background-color: $alto-white;
    }

    a.filter {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color:  color.adjust($alto-white, $lightness: 5%);
        font-size: 1.2rem;
        color: $river-bed;

        &:hover {
            background-color: $alto-white;
        }

        &.active {
            background-color: $anakiwa;

            &:hover {
                background-color: color.adjust($anakiwa, $lightness: -5%);
            }
        }

        span.marker {
            font-size: 1rem;
            border-radius: 1rem;
            position: relative;
            cursor: default;

            &.blue {
                background-color: color.adjust($cerulean, $lightness: 30%);
            }

            &.purple {
                background-color: color.adjust($wisteria, $lightness: 30%);
            }

            &.green {
                background-color: color.adjust($fruit-salad, $lightness: 40%);
            }
        }
    }

    div.concept {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color: $alto-white;
        color: $river-bed;

        &:hover {
            background-color: color.adjust($alto-white, $lightness: -5%);
        }
    }
}
