<nav id="sidebar" class="footer-margin">
    <div class="header row g-0 position-relative">
        <h4 class="p-3 mb-0 filter-title">Severity</h4>
        <span class="clear-span">
            <button class="col btn bg-wisteria bg-wisteria-hover" (click)="reset()">RESET</button>
        </span>
    </div>
    <a class="py-2 px-3 d-block filter" (click)="setSeverity('WARNING')" [class.active]="severity === 'WARNING'">Warning</a>
    <a class="py-2 px-3 d-block filter" (click)="setSeverity('ERROR')" [class.active]="severity === 'ERROR'">Error</a>
    <div class="header row g-0">
        <h4 class="p-3 mb-0 filter-title">Assertion Group</h4>
        <span class="clear-span">
            <div class="form-check form-switch form-check-reverse mb-0">
                <input class="form-check-input" type="checkbox" role="switch" id="additiveCheck" [checked]="additive" (change)="toggleAdditive()">
                <label *ngIf="additive" class="form-check-label py-1" for="additiveCheck">Additive</label>
                <label *ngIf="!additive" class="form-check-label py-1" for="additiveCheck">Subtractive</label>
            </div>
        </span>
    </div>
    <ng-container *ngFor="let release of releases | alphabetical:'name'">
        <a class="py-2 px-3 d-block filter" (click)="setGroup(release.name)" [class.active]="groupIncludes(release.name)">
            {{release?.name}}
            <span *ngIf="contains(release?.name, 'DROOL_RULES')" class="marker green d-inline-block px-2 m-1">DRO</span>
            <span *ngIf="contains(release?.name, 'SQL')" class="marker purple d-inline-block px-2 m-1">SQL</span>
        </a>
    </ng-container>
</nav>
