@import '~src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 32rem;
    height: calc(100vh - 90px);
    background: $alto-white;
    overflow: auto;

    div.header {
        h3, h4 {
            border-bottom: 1px $ghost-grey solid;
            height: 4rem;

            span {
                font-size: 1.2rem;
                color: $river-bed;
            }
        }

        input.searchbar {
            border: none;
            font-size: 1.2rem;
            background-color: lighten($alto-white, 10%);
            width: 100%;
            border-bottom: 1px $ghost-grey solid;
            color: $bootstrap-black;
            cursor: text;
        }

        span.clear-span {
            button {
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
            }
        }
    }

    a.filter-title {
        background-color: $alto-white;
    }

    a.filter {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color: lighten($alto-white, 5%);
        font-size: 1.3rem;
        color: $river-bed;

        &:hover {
            background-color: $alto-white;
        }

        &.active {
            background-color: $anakiwa;

            &:hover {
                background-color: darken($anakiwa, 5%);
            }
        }

        span.marker {
            font-size: 1rem;
            border-radius: 1rem;
            position: relative;
            cursor: default;

            &.blue {
                background-color: lighten($cerulean, 30%);
            }

            &.purple {
                background-color: lighten($wisteria, 30%);
            }

            &.green {
                background-color: lighten($fruit-salad, 40%);
            }
        }
    }

    div.concept {
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;
        background-color: $alto-white;
        color: $river-bed;

        &:hover {
            background-color: darken($alto-white, 5%);
        }
    }
}
